## Introduction in Panda library

In [1]:
import pandas as pd

In [2]:
food_info = pd.read_csv("food-info.csv")
print(type(food_info))

<class 'pandas.core.frame.DataFrame'>

## Explore DataFrame

In [3]:
# head()  return le five first line
# columns show column name
food_info.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0

In [4]:
column_name = food_info.columns
column_name

Index(['NDB_No', 'Shrt_Desc', 'Water_(g)', 'Energ_Kcal', 'Protein_(g)',
       'Lipid_Tot_(g)', 'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)',
       'Sugar_Tot_(g)', 'Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)',
       'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)',
       'Copper_(mg)', 'Manganese_(mg)', 'Selenium_(mcg)', 'Vit_C_(mg)',
       'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Vit_B6_(mg)',
       'Vit_B12_(mcg)', 'Vit_A_IU', 'Vit_A_RAE', 'Vit_E_(mg)', 'Vit_D_mcg',
       'Vit_D_IU', 'Vit_K_(mcg)', 'FA_Sat_(g)', 'FA_Mono_(g)', 'FA_Poly_(g)',
       'Cholestrl_(mg)'],
      dtype='object')

In [5]:
#Shape
# dimension of dataframe
dimension = food_info.shape
dimension[0]

8618

## Select Line

In [6]:
# Loc
row_100 = food_info.loc[99]
row_100

NDB_No                                  1111
Shrt_Desc          MILK SHAKES THICK VANILLA
Water_(g)                              74.45
Energ_Kcal                               112
Protein_(g)                             3.86
Lipid_Tot_(g)                           3.03
Ash_(g)                                 0.91
Carbohydrt_(g)                         17.75
Fiber_TD_(g)                               0
Sugar_Tot_(g)                          17.75
Calcium_(mg)                             146
Iron_(mg)                                0.1
Magnesium_(mg)                            12
Phosphorus_(mg)                          115
Potassium_(mg)                           183
Sodium_(mg)                               95
Zinc_(mg)                               0.39
Copper_(mg)                            0.051
Manganese_(mg)                         0.014
Selenium_(mcg)                           2.3
Vit_C_(mg)                                 0
Thiamin_(mg)                            0.03
Riboflavin_(mg)                        0.195
Niacin_(mg)                            0.146
Vit_B6_(mg)                            0.042
Vit_B12_(mcg)                           0.52
Vit_A_IU                                  91
Vit_A_RAE                                 25
Vit_E_(mg)                              0.05
Vit_D_mcg                                1.2
Vit_D_IU                                  48
Vit_K_(mcg)                              0.2
FA_Sat_(g)                             1.886
FA_Mono_(g)                            0.875
FA_Poly_(g)                            0.113
Cholestrl_(mg)                            12
Name: 99, dtype: object

## Type of panda data

In [7]:
# dtypes return type of data
print(food_info.dtypes)

NDB_No               int64
Shrt_Desc           object
Water_(g)          float64
Energ_Kcal           int64
Protein_(g)        float64
Lipid_Tot_(g)      float64
Ash_(g)            float64
Carbohydrt_(g)     float64
Fiber_TD_(g)       float64
Sugar_Tot_(g)      float64
Calcium_(mg)       float64
Iron_(mg)          float64
Magnesium_(mg)     float64
Phosphorus_(mg)    float64
Potassium_(mg)     float64
Sodium_(mg)        float64
Zinc_(mg)          float64
Copper_(mg)        float64
Manganese_(mg)     float64
Selenium_(mcg)     float64
Vit_C_(mg)         float64
Thiamin_(mg)       float64
Riboflavin_(mg)    float64
Niacin_(mg)        float64
Vit_B6_(mg)        float64
Vit_B12_(mcg)      float64
Vit_A_IU           float64
Vit_A_RAE          float64
Vit_E_(mg)         float64
Vit_D_mcg          float64
Vit_D_IU           float64
Vit_K_(mcg)        float64
FA_Sat_(g)         float64
FA_Mono_(g)        float64
FA_Poly_(g)        float64
Cholestrl_(mg)     float64
dtype: object

## Multiselection Line

In [8]:
food_info.loc[3:6]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0
5,1006,CHEESE BRIE,48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,...,592.0,174.0,0.24,0.5,20.0,2.3,17.410,8.013,0.826,100.0
6,1007,CHEESE CAMEMBERT,51.80,300,19.80,24.26,3.68,0.46,0.0,0.46,...,820.0,241.0,0.21,0.4,18.0,2.0,15.259,7.023,0.724,72.0

In [9]:
food_info.loc[[4, 7, 21]]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0
7,1008,CHEESE CARAWAY,39.28,376,25.18,29.20,3.28,3.06,0.0,NaN,...,1054.0,271.0,NaN,NaN,NaN,NaN,18.584,8.275,0.830,93.0
21,1022,CHEESE GOUDA,41.46,356,24.94,27.44,3.94,2.22,0.0,2.22,...,563.0,165.0,0.24,0.5,20.0,2.3,17.614,7.747,0.657,114.0

## Select column rather line

In [10]:
Col_name = "NDB_No"
ndb_no = food_info[Col_name]
ndb_no

0        1001
1        1002
2        1003
3        1004
4        1005
        ...
8613    83110
8614    90240
8615    90480
8616    90560
8617    93600
Name: NDB_No, Length: 8618, dtype: int64

## Select many columns

In [11]:
columns = ["Zinc_(mg)", "Copper_(mg)"]
zinc_copper = food_info[columns]
zinc_copper

      Zinc_(mg)  Copper_(mg)
0          0.09        0.000
1          0.05        0.016
2          0.01        0.001
3          2.66        0.040
4          2.60        0.024
...         ...          ...
8613       1.10        0.100
8614       1.55        0.033
8615       0.19        0.020
8616       1.00        0.400
8617       1.00        0.250

[8618 rows x 2 columns]

 # Manipulate data with Panda
 
 ## Introduction
 
 ### Transform Column

In [12]:
div_1000 = food_info["Iron_(mg)"] /1000

In [13]:
div_1000

0       0.00002
1       0.00016
2       0.00000
3       0.00031
4       0.00043
         ...
8613    0.00140
8614    0.00058
8615    0.00360
8616    0.00350
8617    0.00140
Name: Iron_(mg), Length: 8618, dtype: float64

In [15]:
add_100 = food_info["Iron_(mg)"]+100
sub_100 = food_info["Iron_(mg)"]-100
mult_2 = food_info["Iron_(mg)"]*2
print(add_100)
print(sub_100)
print(mult_2)

0       100.02
1       100.16
2       100.00
3       100.31
4       100.43
         ...
8613    101.40
8614    100.58
8615    103.60
8616    103.50
8617    101.40
Name: Iron_(mg), Length: 8618, dtype: float64
0       -99.98
1       -99.84
2      -100.00
3       -99.69
4       -99.57
         ...
8613    -98.60
8614    -99.42
8615    -96.40
8616    -96.50
8617    -98.60
Name: Iron_(mg), Length: 8618, dtype: float64
0       0.04
1       0.32
2       0.00
3       0.62
4       0.86
        ...
8613    2.80
8614    1.16
8615    7.20
8616    7.00
8617    2.80
Name: Iron_(mg), Length: 8618, dtype: float64

## Mathematique operate in column

In [21]:
water_energy = food_info["Water_(g)"] * food_info["Energ_Kcal"]
print(water_energy[:5])

0    11378.79
1    11378.79
2      210.24
3    14970.73
4    15251.81
dtype: float64

In [20]:
print(food_info[["Water_(g)", "Energ_Kcal"]][:5])

   Water_(g)  Energ_Kcal
0      15.87         717
1      15.87         717
2       0.24         876
3      42.41         353
4      41.11         371

## Normalize columns

In [24]:
## Prendre le max d'une colone puis le diviser sur tous les elements de la colone

max_calories = food_info["Energ_Kcal"].max()
normalized_calories = food_info["Energ_Kcal"]/max_calories
normalized_calories

0       0.794900
1       0.794900
2       0.971175
3       0.391353
4       0.411308
          ...
8613    0.338137
8614    0.123060
8615    0.298226
8616    0.099778
8617    0.098670
Name: Energ_Kcal, Length: 8618, dtype: float64

## Filter DataFrame

In [28]:
food_info.sort_values("Water_(g)")

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
676,4544,SHORTENING HOUSEHOLD LARD&VEG OIL,0.0,900,0.00,100.00,0.0,0.00,0.0,0.00,...,0.0,0.0,1.0,0.0,0.0,21.5,40.300,44.4,10.9,56.0
664,4520,FAT MUTTON TALLOW,0.0,902,0.00,100.00,0.0,0.00,0.0,0.00,...,0.0,0.0,2.8,0.7,28.0,0.0,47.300,40.6,7.8,102.0
665,4528,OIL WALNUT,0.0,884,0.00,100.00,0.0,0.00,0.0,0.00,...,0.0,0.0,0.4,0.0,0.0,15.0,9.100,22.8,63.3,0.0
666,4529,OIL ALMOND,0.0,884,0.00,100.00,0.0,0.00,0.0,0.00,...,0.0,0.0,39.2,0.0,0.0,7.0,8.200,69.9,17.4,0.0
667,4530,OIL APRICOT KERNEL,0.0,884,0.00,100.00,0.0,0.00,0.0,0.00,...,0.0,0.0,4.0,NaN,NaN,NaN,6.300,60.0,29.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6067,19084,CANDIES HERSHEY'S GOLDEN ALMOND SOLITAIRES,NaN,570,11.97,37.13,NaN,46.91,4.4,37.13,...,0.0,NaN,NaN,NaN,NaN,NaN,15.230,NaN,NaN,13.0
6095,19112,CANDIES TWIZZLERS STRAWBERRY TWISTS CANDY,NaN,350,2.56,2.32,NaN,79.74,0.0,39.64,...,0.0,NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,0.0
6113,19130,CANDIES HERSHEY'S POT OF GOLD ALMOND BAR,NaN,577,12.82,38.46,NaN,46.15,3.8,38.46,...,NaN,NaN,NaN,NaN,NaN,NaN,16.667,NaN,NaN,13.0
6150,19171,COCOA DRY PDR UNSWTND HERSHEY'S EUROPEAN STYLE...,NaN,400,20.00,10.00,NaN,60.00,20.0,0.00,...,0.0,NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,0.0
7776,28039,KASHI TLC HAPPY TRAIL MIX COOKIES,NaN,453,8.10,18.10,NaN,69.40,13.7,26.60,...,NaN,NaN,NaN,0.0,0.0,NaN,4.100,7.8,5.6,0.0

In [29]:
## set series
food_info.sort_values("Water_(g)", inplace=True)

In [30]:
food_info

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
676,4544,SHORTENING HOUSEHOLD LARD&VEG OIL,0.0,900,0.00,100.00,0.0,0.00,0.0,0.00,...,0.0,0.0,1.0,0.0,0.0,21.5,40.300,44.4,10.9,56.0
664,4520,FAT MUTTON TALLOW,0.0,902,0.00,100.00,0.0,0.00,0.0,0.00,...,0.0,0.0,2.8,0.7,28.0,0.0,47.300,40.6,7.8,102.0
665,4528,OIL WALNUT,0.0,884,0.00,100.00,0.0,0.00,0.0,0.00,...,0.0,0.0,0.4,0.0,0.0,15.0,9.100,22.8,63.3,0.0
666,4529,OIL ALMOND,0.0,884,0.00,100.00,0.0,0.00,0.0,0.00,...,0.0,0.0,39.2,0.0,0.0,7.0,8.200,69.9,17.4,0.0
667,4530,OIL APRICOT KERNEL,0.0,884,0.00,100.00,0.0,0.00,0.0,0.00,...,0.0,0.0,4.0,NaN,NaN,NaN,6.300,60.0,29.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6067,19084,CANDIES HERSHEY'S GOLDEN ALMOND SOLITAIRES,NaN,570,11.97,37.13,NaN,46.91,4.4,37.13,...,0.0,NaN,NaN,NaN,NaN,NaN,15.230,NaN,NaN,13.0
6095,19112,CANDIES TWIZZLERS STRAWBERRY TWISTS CANDY,NaN,350,2.56,2.32,NaN,79.74,0.0,39.64,...,0.0,NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,0.0
6113,19130,CANDIES HERSHEY'S POT OF GOLD ALMOND BAR,NaN,577,12.82,38.46,NaN,46.15,3.8,38.46,...,NaN,NaN,NaN,NaN,NaN,NaN,16.667,NaN,NaN,13.0
6150,19171,COCOA DRY PDR UNSWTND HERSHEY'S EUROPEAN STYLE...,NaN,400,20.00,10.00,NaN,60.00,20.0,0.00,...,0.0,NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,0.0
7776,28039,KASHI TLC HAPPY TRAIL MIX COOKIES,NaN,453,8.10,18.10,NaN,69.40,13.7,26.60,...,NaN,NaN,NaN,0.0,0.0,NaN,4.100,7.8,5.6,0.0

In [31]:
food_info.sort_values("Water_(g)", inplace=True, ascending=False)

In [34]:
food_info[:25]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
4209,14076,BEVERAGES ICELANDIC GLACIAL NAT SPRING H2O,100.00,0,0.00,0.0,0.00,0.00,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4376,14437,WATER BTLD NON-CARBONATED CALISTOGA,100.00,0,0.00,0.0,0.10,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4348,14385,WATER BTLD POLAND SPRING,100.00,0,0.00,0.0,0.00,0.00,0.0,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
4377,14438,WATER BTLD NON-CARBONATED CRYSTAL GEYSER,100.00,0,0.00,0.0,0.10,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4378,14439,WATER BTLD NON-CARBONATED NAYA,100.00,0,0.00,0.0,0.10,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4372,14432,WATER BTLD NON-CARBONATED DANNON,99.98,0,0.00,0.0,0.00,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4404,14555,WATER BTLD GENERIC,99.98,0,0.00,0.0,0.07,0.00,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4379,14440,WATER BTLD NON-CARBONATED DANNON FLUORIDE TO GO,99.97,0,0.00,0.0,0.00,0.03,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4407,14559,WATER BTLD NON-CARBONATED EVIAN,99.97,0,0.00,0.0,0.05,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4373,14433,WATER BTLD NON-CARBONATED PEPSI AQUAFINA,99.97,0,0.00,0.0,0.00,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4374,14434,WATER BTLD NON-CARBONATED DASANI,99.96,0,0.00,0.0,0.00,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4208,14075,BEVERAGES H2O BTLD NATURALLY SPARKLING (CARBON...,99.95,0,0.00,0.0,0.05,0.00,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4204,14071,BEVERAGES GRN TEA SALADA BREWED FROM BAGS,99.95,1,0.19,0.0,0.00,0.00,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4213,14082,BEVERAGES GEROLSTEINER BRUNNEN GMBH H2O BTLD N...,99.95,0,0.00,0.0,0.05,0.00,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4203,14070,BEVERAGES GRN TEA LIPTON BREWED FROM BAGS,99.93,1,0.25,0.0,0.00,0.00,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4369,14429,WATER TAP MUNICIPAL,99.90,0,0.00,0.0,0.10,0.00,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4205,14072,BEVERAGES GRN TEA BREWED FROM BAGS,99.90,1,0.18,0.0,0.00,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4357,14412,WATER TAP WELL,99.90,0,0.00,0.0,0.10,0.00,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4239,14121,CARBONATED BEV CLUB SODA,99.90,0,0.00,0.0,0.10,0.00,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4356,14411,WATER TAP DRINKING,99.90,0,0.00,0.0,0.10,0.00,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4347,14384,WATER BTLD PERRIER,99.90,0,0.00,0.0,0.10,0.00,0.0,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
4408,14599,BEVERAGES POWERADE ZERO ION4 CALORIE-FREE ASSO...,99.89,0,0.00,0.0,0.14,0.00,0.0,0.0,...,0.0,0.0,0.57,0.0,0.0,0.2,0.0,0.0,0.0,0.0
4411,14604,WATER NON-CARBONATED FRUIT FLAVORS SWTND W/ LO...,99.85,1,0.00,0.0,0.02,0.13,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4270,14166,CARBONATED BEV LO CAL COLA OR PEPR W/ NA SACC ...,99.80,0,0.00,0.0,0.10,0.10,0.0,0.0,...,0.0,0.0,0.00,NaN,NaN,0.0,0.0,0.0,0.0,0.0
4392,14537,CARBONATED BEV LOCAL OTHR THAN COLA OR PEP W/ ...,99.80,0,0.00,0.0,0.10,0.10,0.0,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0