# Histogrammes et boîtes à moustaches

## Introduction

In [3]:
import pandas as pd
reviews = pd.read_csv("fandango.csv")
cols = ['FILM', 'RT_user_norm', "Metacritic_user_nom", 'IMDB_norm', 'Fandango_Ratingvalue']

norm_reviews = reviews[cols]
norm_reviews[:5]

,FILM,RT_user_norm,Metacritic_user_nom,IMDB_norm,Fandango_Ratingvalue
0,Avengers: Age of Ultron (2015),4.3,3.55,3.90,4.5
1,Cinderella (2015),4.0,3.75,3.55,4.5
2,Ant-Man (2015),4.5,4.05,3.90,4.5
3,Do You Believe? (2015),4.2,2.35,2.70,4.5
4,Hot Tub Time Machine 2 (2015),1.4,1.70,2.55,3.0

## Distribution de fréquences

In [4]:
# Series.value_counts()

In [6]:
freq_count = norm_reviews["Fandango_Ratingvalue"].value_counts()
freq_count

4.1    16
4.2    12
3.9    12
4.3    11
3.7     9
3.5     9
4.5     9
3.4     9
3.6     8
4.4     7
4.0     7
3.2     5
2.9     5
3.8     5
3.3     4
4.6     4
3.0     4
4.8     3
3.1     3
2.8     2
2.7     2
Name: Fandango_Ratingvalue, dtype: int64

In [7]:
# Series.sort_index()

In [9]:
sorted_freq_counts = freq_count.sort_index()
sorted_freq_counts

2.7     2
2.8     2
2.9     5
3.0     4
3.1     3
3.2     5
3.3     4
3.4     9
3.5     9
3.6     8
3.7     9
3.8     5
3.9    12
4.0     7
4.1    16
4.2    12
4.3    11
4.4     7
4.5     9
4.6     4
4.8     3
Name: Fandango_Ratingvalue, dtype: int64

## Histogram with Matplotlib

In [11]:
# Axes.hist(values, range=(a,b))

In [12]:
# ax.hist(df[col], range=(0,5))

NameError: name 'ax' is not defined