# Data Analyse with Numpy

## Objectif

In [58]:
import numpy as np
world_alcohol = np.genfromtxt("world-alcohol.csv", delimiter = ",", dtype = "U75", skip_header = 1)

## Make comparisons

In [59]:
third_colomn = world_alcohol[:, 2]
countrie_canada = third_colomn=="Canada"

first_colomn = world_alcohol[:, 0]
years_1984 = first_colomn=="1984"

print(first_colomn, "\n", years_1984)

['1986' '1986' '1985' ... '1986' '1987' '1986']
 [False False False ... False False False]

## Select Data

In [60]:
third_colomn = world_alcohol[:, 2]
country_is_algeria = third_colomn=="Algeria"
countrie_algeria = world_alcohol[country_is_algeria, :]
print(countrie_algeria)

[['1984' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1987' 'Africa' 'Algeria' 'Beer' '0.17']
 ['1987' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1986' 'Africa' 'Algeria' 'Wine' '0.1']
 ['1984' 'Africa' 'Algeria' 'Other' '0']
 ['1989' 'Africa' 'Algeria' 'Beer' '0.16']
 ['1989' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1989' 'Africa' 'Algeria' 'Wine' '0.23']
 ['1986' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1984' 'Africa' 'Algeria' 'Wine' '0.12']
 ['1985' 'Africa' 'Algeria' 'Beer' '0.19']
 ['1985' 'Africa' 'Algeria' 'Other' '0']
 ['1986' 'Africa' 'Algeria' 'Beer' '0.18']
 ['1985' 'Africa' 'Algeria' 'Wine' '0.11']
 ['1986' 'Africa' 'Algeria' 'Other' '0']
 ['1989' 'Africa' 'Algeria' 'Other' '0']
 ['1987' 'Africa' 'Algeria' 'Other' '0']
 ['1984' 'Africa' 'Algeria' 'Beer' '0.2']
 ['1985' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1987' 'Africa' 'Algeria' 'Wine' '0.1']]

In [61]:
first_colomn = world_alcohol[:, 0]
year_is_1984 = first_colomn=="1984"
year_1984 = world_alcohol[year_is_1984, :]
print(year_1984)

[['1984' 'Africa' 'Nigeria' 'Other' '6.1']
 ['1984' 'Eastern Mediterranean' 'Afghanistan' 'Other' '0']
 ['1984' 'Americas' 'Costa Rica' 'Wine' '0.06']
 ...
 ['1984' 'Europe' 'Latvia' 'Spirits' '7.5']
 ['1984' 'Africa' 'Angola' 'Wine' '0.57']
 ['1984' 'Africa' 'Central African Republic' 'Wine' '0.46']]

## Make comparison with 2 or more conditions

In [62]:
third_column_Algeria = world_alcohol[:, 2]=="Algeria"
first_column_1986 = world_alcohol[:, 0] =="1986"
is_algeria_and_1986 = third_column_Algeria & first_column_1986
rows_with_algeria_and_1986 = world_alcohol[is_algeria_and_1986, :]
print(rows_with_algeria_and_1986)

[['1986' 'Africa' 'Algeria' 'Wine' '0.1']
 ['1986' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1986' 'Africa' 'Algeria' 'Beer' '0.18']
 ['1986' 'Africa' 'Algeria' 'Other' '0']]

## Remplace Value in Nampy list

In [79]:
world_alcohol_2 = world_alcohol.copy()
world_alcohol_2[world_alcohol_2[:, 0] == '1986', 0] = '2018'
world_alcohol_2[world_alcohol_2[:, 3] == 'Wine', 3] = 'Beer'
print(world_alcohol_2)

[['2018' 'Western Pacific' 'Viet Nam' 'Beer' '0']
 ['2018' 'Americas' 'Uruguay' 'Other' '0.5']
 ['1985' 'Africa' "Cte d'Ivoire" 'Beer' '1.62']
 ...
 ['2018' 'Europe' 'Switzerland' 'Spirits' '2.54']
 ['1987' 'Western Pacific' 'Papua New Guinea' 'Other' '0']
 ['2018' 'Africa' 'Swaziland' 'Other' '5.15']]

## Remplace Empty Field

In [64]:
world_alcohol[world_alcohol[:, 4] == '', 4] = '0'
print(world_alcohol)

[['1986' 'Western Pacific' 'Viet Nam' 'Wine' '0']
 ['1986' 'Americas' 'Uruguay' 'Other' '0.5']
 ['1985' 'Africa' "Cte d'Ivoire" 'Wine' '1.62']
 ...
 ['1986' 'Europe' 'Switzerland' 'Spirits' '2.54']
 ['1987' 'Western Pacific' 'Papua New Guinea' 'Other' '0']
 ['1986' 'Africa' 'Swaziland' 'Other' '5.15']]

## Convert Data Type

In [75]:
alcohol_consumption = world_alcohol[:, 4]
alcohol_consumption = alcohol_consumption.astype(float)

## Realize Mathematics Calculs with Numpy

In [78]:
total_alcohol = alcohol_consumption.sum()
print(total_alcohol)

average_alcohol = alcohol_consumption.mean()
print(average_alcohol)

3908.96
1.2001719373656738

## Calculation of Annual comsumption per habitat for a given country

In [87]:
condition = (world_alcohol[:, 2] == 'Canada') & (world_alcohol[:, 0] == '1986')
canada_1986 = world_alcohol[condition, :]
print(canada_1986)
canada_alcohol = canada_1986[:, 4].astype(float)
total_canadian_drinking = canada_alcohol.sum()
print(total_canadian_drinking)

[['1986' 'Americas' 'Canada' 'Other' '0']
 ['1986' 'Americas' 'Canada' 'Spirits' '3.11']
 ['1986' 'Americas' 'Canada' 'Beer' '4.87']
 ['1986' 'Americas' 'Canada' 'Wine' '1.33']]
9.31

## Consumption for each country

In [98]:
totals = {}
year = world_alcohol[world_alcohol[:, 0] == '1989', :]
countrie = world_alcohol[:, 2]
for c in countrie:
    country_consumption = year[year[:, 2] == c, 4]
    country_consumption = country_consumption.astype(float)
    somme = country_consumption.sum()
    totals[c] = somme
for c in totals:
    print(c,': ', totals[c])

Viet Nam :  0.16
Uruguay :  7.4399999999999995
Cte d'Ivoire :  2.2
Colombia :  6.960000000000001
Saint Kitts and Nevis :  4.65
Guatemala :  2.47
Mauritius :  3.54
Angola :  2.28
Antigua and Barbuda :  4.69
Nigeria :  6.74
Botswana :  4.63
Lao People's Democratic Republic :  5.95
Afghanistan :  0.0
Guinea-Bissau :  2.67
Costa Rica :  5.3999999999999995
Seychelles :  3.3000000000000003
Norway :  5.08
Kenya :  2.82
Myanmar :  0.16
Romania :  8.41
Turkey :  0.72
Comoros :  0.10999999999999999
Tunisia :  0.95
United Kingdom of Great Britain and Northern Ireland :  9.99
Bahrain :  4.89
Italy :  10.899999999999999
Sierra Leone :  4.380000000000001
Micronesia (Federated States of) :  0.0
Mauritania :  0.02
Russian Federation :  5.35
Egypt :  0.42000000000000004
Sweden :  7.47
Qatar :  1.4500000000000002
Burkina Faso :  3.99
Austria :  13.9
Czech Republic :  13.009999999999998
Ukraine :  5.32
China :  3.33
Lithuania :  0.0
Zimbabwe :  4.92
Trinidad and Tobago :  4.68
Mexico :  5.1
Nicaragua :  2.5
Malta :  7.13
Switzerland :  13.849999999999998
Finland :  9.419999999999998
Saudi Arabia :  0.15
Kuwait :  0.0
El Salvador :  1.77
Suriname :  3.67
Croatia :  10.92
Somalia :  0.0
Syrian Arab Republic :  0.54
Iran (Islamic Republic of) :  0.0
Papua New Guinea :  1.1099999999999999
Libya :  0.0
Bolivia (Plurinational State of) :  3.05
Iraq :  0.75
Namibia :  0.24
Uganda :  7.8
Togo :  2.2199999999999998
Madagascar :  1.38
Mali :  0.6699999999999999
Pakistan :  0.02
Cameroon :  6.359999999999999
Jamaica :  3.03
Malawi :  1.02
Netherlands :  10.030000000000001
Ireland :  11.79
Sri Lanka :  0.14
Democratic Republic of the Congo :  1.92
Bahamas :  12.290000000000001
Lebanon :  3.94
Bulgaria :  11.43
Eritrea :  0.29
Niger :  0.11
Luxembourg :  15.21
Indonesia :  0.07
Equatorial Guinea :  6.49
Democratic People's Republic of Korea :  3.6799999999999997
Chile :  8.649999999999999
Central African Republic :  2.5199999999999996
Spain :  13.280000000000001
Gambia :  1.6300000000000001
Ghana :  1.8599999999999999
Brazil :  5.52
Portugal :  15.350000000000001
Burundi :  8.159999999999998
Belgium :  11.61
Paraguay :  6.51
Hungary :  16.29
Greece :  10.15
India :  1.66
Kyrgyzstan :  4.279999999999999
France :  16.05
Zambia :  3.37
Israel :  2.0300000000000002
Swaziland :  6.68
Canada :  9.0
Cambodia :  0.33
Cabo Verde :  2.79
United Arab Emirates :  4.43
Peru :  4.99
Solomon Islands :  0.5800000000000001
United Republic of Tanzania :  5.9
Chad :  0.30000000000000004
Cuba :  4.37
Guyana :  9.940000000000001
Mongolia :  2.59
Australia :  12.09
Sao Tome and Principe :  2.57
Slovenia :  12.969999999999999
Benin :  1.3800000000000001
Algeria :  0.4
Venezuela (Bolivarian Republic of) :  7.87
Ecuador :  2.54
Iceland :  5.359999999999999
Liberia :  5.61
Yemen :  0.2
Sudan :  0.15
Belarus :  7.9799999999999995
Cyprus :  9.29
United States of America :  9.16
Vanuatu :  1.74
Bangladesh :  0.0
Philippines :  3.78
Slovakia :  12.700000000000001
Poland :  9.33
Senegal :  0.6100000000000001
Honduras :  2.15
Bhutan :  0.31
Fiji :  1.9600000000000002
Belize :  0.0
Lesotho :  2.02
Singapore :  1.61
Guinea :  0.21
Brunei Darussalam :  2.7800000000000002
Congo :  3.1500000000000004
Thailand :  3.92
Djibouti :  0.87
Gabon :  9.34
Dominican Republic :  4.53
Morocco :  0.7
New Zealand :  11.52
Denmark :  11.649999999999999
Samoa :  2.63
Argentina :  10.82
Oman :  1.03
Kiribati :  0.48
Albania :  1.73
Nepal :  0.03
Malaysia :  0.68
Latvia :  7.039999999999999
Haiti :  5.81
South Africa :  9.21
Republic of Korea :  9.620000000000001
Japan :  7.74
Mozambique :  0.39
Ethiopia :  0.8600000000000001
Panama :  4.6000000000000005
Germany :  14.64
Saint Lucia :  11.62
Rwanda :  7.549999999999999
Jordan :  0.19

## Find Country who consume most alcohol

In [99]:
highest_value = 0
highest_key = 'none'
for c in totals:
    if totals[c]> highest_value:
        highest_value = totals[c]
        highest_key = c
print(highest_key,': ', highest_value)

Hungary :  16.29