## All of Serie with Panda

### Data Structures

In [1]:
# Series
#DataFrames
#Panels

#### Data type

In [1]:
# float
# int
# bool
# datetime64(ns) without time zone
# datetime64(ns, tz) with time zone
# timedelta(ns) minute and second...
# category
# object

In [2]:
import pandas as pd
fanango = pd.read_csv("fandango-score-comparison.csv")

In [5]:
series_film = fanango["FILM"]
series_rt = fanango["RottenTomatoes"]

## Personalize indexing

In [7]:
# for indexing datas like Series[5:10] you want to know index of value that you want to treat
# but if you don't want to know index, you can just use this method
# allow you to select values(any value of column to that you specify) by value of one column
from pandas import Series

In [8]:
# Series(value= Series.value (1), index = Seriex.value (2)) 
# with index of (2), you can get any values that match(correspond) to that index from (1)

film_names = series_film.values
rt_scores = series_rt.values

series_custom = Series(rt_scores, index=film_names)

In [9]:
series_custom[['Run All Night (2015)', "Ted 2 (2015)"]]

Run All Night (2015)    60
Ted 2 (2015)            46
dtype: int64

## Reindexing Series Object

In [10]:
# Series.reindex() 
# change order of index in Series object

In [11]:
# return a list of actualy index -- series_custom.index

In [12]:
# sorted()

## Sort Object Series

In [14]:
# Series.sort_index() sort by index
# Series.sort_values() sort by value

## Transformation of column

In [16]:
series_custom/10 # we can use other methode from numpy like >>

Avengers: Age of Ultron (2015)                7.4
Cinderella (2015)                             8.5
Ant-Man (2015)                                8.0
Do You Believe? (2015)                        1.8
Hot Tub Time Machine 2 (2015)                 1.4
                                             ...
Mr. Holmes (2015)                             8.7
'71 (2015)                                    9.7
Two Days, One Night (2014)                    9.7
Gett: The Trial of Viviane Amsalem (2015)    10.0
Kumiko, The Treasure Hunter (2015)            8.7
Length: 146, dtype: float64

In [17]:
import numpy as np

In [19]:
# apply addition method
# numpy.add(Serie_1, Series_2)
np.add(series_custom, series_custom)

Avengers: Age of Ultron (2015)               148
Cinderella (2015)                            170
Ant-Man (2015)                               160
Do You Believe? (2015)                        36
Hot Tub Time Machine 2 (2015)                 28
                                            ...
Mr. Holmes (2015)                            174
'71 (2015)                                   194
Two Days, One Night (2014)                   194
Gett: The Trial of Viviane Amsalem (2015)    200
Kumiko, The Treasure Hunter (2015)           174
Length: 146, dtype: int64

In [21]:
# apply sinus function
np.sin(series_custom)

Avengers: Age of Ultron (2015)              -0.985146
Cinderella (2015)                           -0.176076
Ant-Man (2015)                              -0.993889
Do You Believe? (2015)                      -0.750987
Hot Tub Time Machine 2 (2015)                0.990607
                                               ...
Mr. Holmes (2015)                           -0.821818
'71 (2015)                                   0.379608
Two Days, One Night (2014)                   0.379608
Gett: The Trial of Viviane Amsalem (2015)   -0.506366
Kumiko, The Treasure Hunter (2015)          -0.821818
Length: 146, dtype: float64

In [22]:
# retrun maximal value of series
np.max(series_custom)

100

## Compare and Filter

In [25]:
# getting Serie that have some value like > 50 we can do
series_greater_50 = series_custom > 50
series_greater_50

Avengers: Age of Ultron (2015)                True
Cinderella (2015)                             True
Ant-Man (2015)                                True
Do You Believe? (2015)                       False
Hot Tub Time Machine 2 (2015)                False
                                             ...
Mr. Holmes (2015)                             True
'71 (2015)                                    True
Two Days, One Night (2014)                    True
Gett: The Trial of Viviane Amsalem (2015)     True
Kumiko, The Treasure Hunter (2015)            True
Length: 146, dtype: bool